a {
    color: var(--primary-color);
}

body {
    margin: 5% 5% 0 5%;
}

button {
    background-color:  var(--secondary-color);
    color: var(--primary-color);
    
    border: solid 2px var(--primary-color);
    border-radius: 3px;
    
    font-size: 1rem;
    padding: 1em;

    transition: background-color 0.5s ease-out, color 0.5s ease-out;

    &:focus-visible, &:active {
        background-color: var(--primary-color);
        color: var(--gradient-color-primary); // Should ideally be see through
        outline: none;

        svg {
            fill: var(--gradient-color-primary);
        }
    }
}

div {
    color: var(--primary-color);
}

fieldset {
    border: solid 1px var(--primary-color);
}

input[type=text], input[type=number], select {
    background-color:  var(--secondary-color);
    color: var(--primary-color);

    border: none;
    border-radius: 3px;

    outline: solid 2px;
    outline-color: transparent;
    
    font-size: 1rem;
    padding: 1em;

    transition: outline-color 500ms ease-out;

    &::placeholder {
        color: var(--primary-color);
    }

    &:focus-visible {
        outline-color: var(--primary-color);
        
        &::placeholder {
            color: transparent;
        }
    }
}

label {
    font-weight: bold;
}

svg {
    fill: var(--primary-color);
    vertical-align: top;
}

.hidden {
    display: none;
}