:root{
    --font-color: #ffd400;
    --gradient-color-primary: #3b0066;
    --gradient-color-secondary: #333;
}

a {
    color: var(--font-color);
}

body {
    margin: 5% 5% 0 5%;
    color: var(--font-color);
}

button {
    background: none;
    color: var(--font-color);
    border-color: var(--font-color);
    border-style: solid;
}

input {
    background: none;
    color: var(--font-color);
    border-color: var(--font-color);
    border-style: solid;

    &::placeholder{
        color: var(--font-color);
    }
}

.hidden {
    display: none;
}