@import "@/styles/_houdini.scss";

#app {  
    color: var(--font-color);
    font-family: var(--font-family);

    transition: --font-color, --gradient-color-primary, --gradient-color-secondary;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#app[theme="default"] {
    --font-color: #ffd400;
    --gradient-color-primary: #3b0066;
    --gradient-color-secondary: #333;

    --font-family: Garamond, serif;
}

#app[theme="grug"] {
    --gradient-color-primary: darkred;
}

#app[theme="lenova"] {
    --font-color: black;
    --gradient-color-primary: green;
    --gradient-color-secondary: aquamarine;
}
